BOT_TOKEN=your_bot_token_here
VERIFY_ET_API_KEY=your_verify_et_api_key_here
SAFWAN_API_KEY=your_safwan_api_key_here
SAFWAN_API_URL=https://safwantigershopbot-production.up.railway.app/api
LOG_CHANNEL_ID=-1004295193835
LOG_CHANNEL_LINK=https://t.me/abyssinia_botlogs
FORCE_JOIN_CHANNEL_ID=-1002205327334
FORCE_JOIN_CHANNEL_NAME=Abyssinia Social Media
FORCE_JOIN_CHANNEL_LINK=https://t.me/AbyssiniaSocialMedia
PAYMENT_NAME=Your Name
PAYMENT_ACCOUNT=09xxxxxxxx
CBE_NAME=Your Name
CBE_ACCOUNT=1000xxxxxxxx
CBEBIRR_NAME=Your Name
CBEBIRR_ACCOUNT=09xxxxxxxx
ADMINS=8708984302,7486085143,6241860023

SUPABASE_URL=https://your-project.supabase.co
SUPABASE_KEY=your_supabase_anon_key
